{% extends "master.html" %}
    {%block title%}
    mini/record
    {%endblock%}

    {%block body%}
 <h1>from home</h1>
       <div class="divhome m-auto">
            <h1 class="text-white text-center">Collection of students hidden qualities</h1>
            <div >
                <p class="text-primary">The interest of university must be the first priority of a student .and they must accept the change for the sake of future. institution should be awarded for their hidden qualities. An organization should select an employee with these characteristics</p>
            </div>
            <div>
                <p class="text-primary">
                    A brilliant student is that who is a good mentor to his colleagues. They want to do something change in their field something invent/discover for such student just marks are not success in theirs prospective. 
                    that is why we are collecting the hidden qualities of students
                </p>
            </div>
            
     </div>
    {% endblock%}