<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8">
    <title> {%block title%}mini/home
    {%endblock%}</title>
    <!-- CSS only -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

<script type="text/javascript">
    window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    title: {
        text: "class performance/participation with class activities"
    },
    data: [{
        type: "pie",
        startAngle: 240,
        yValueFormatString: "##0.00\"%\"",
        indexLabel: "{label} {y}",
        dataPoints: [
            { y: {{obj[0]}}, label: "GOOD" },
            { y: {{obj[1]}}, label: "V GOOD" },
            { y: {{obj[2]}}, label: "NORMAL" },
            { y: {{obj[3]}},label: "BAD"},
           
            
        ]
    }]
});
chart.render();

var chart2 = new CanvasJS.Chart("chartContainer2", {
    animationEnabled: true,
    title: {
        text: "Cooperation with classmate/help with weak students"
    },
    data: [{
        type: "pie",
        startAngle: 240,
        yValueFormatString: "##0.00\"%\"",
        indexLabel: "{label} {y}",
        dataPoints: [
            { y: 67, label: "GOOD" },
            { y: 28, label: "V GOOD" },
            { y: 10, label: "NORMAL" },
            { y: 7, label: "BAD"},
        ]
    }]
});
chart2.render();
var chart3 = new CanvasJS.Chart("chartContainer3", {
    animationEnabled: true,
    title:{
        text: "behavior with students and other faculity members",
        horizontalAlign: "left"
    },
    data: [{
        type: "doughnut",
        startAngle: 60,
        //innerRadius: 60,
        indexLabelFontSize: 17,
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
            { y: 67, label: "GOOD" },
            { y: 28, label: "V GOOD" },
            { y: 10, label: "NORMAL" },
            { y: 7, label: "BAD"},

            
        ]
    }]
});
chart3.render();
var chart4 = new CanvasJS.Chart("chartContainer4", {
    animationEnabled: true,
    title:{
        text: "his/her vision and interset with his field",
        horizontalAlign: "left"
    },
    data: [{
        type: "doughnut",
        startAngle: 60,
        //innerRadius: 60,
        indexLabelFontSize: 17,
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
            { y: 67, label: "GOOD" },
            { y: 28, label: "V GOOD" },
            { y: 10, label: "NORMAL" },
            { y: 7, label: "BAD"},
        ]
    }]
});
chart4.render();

}
</script>

</head>
<body>
    <!-- this is navbar-->
    <nav class="navbar navbar-expand-sm navbar-light bg-primary ">
        <a href="" class="navbar-brand">logo</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center navcss" id="navbarMenu">
        <ul class="navbar-nav list-unstyled ">
            <li class="nav-item active">
                <a href="{{url_for('home')}}" class="nav-link text-white">home</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('team')}}" class="nav-link text-white">team</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('about')}}" class="nav-link text-white">about</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('record')}}" class="nav-link text-white">record</a>
            </li>
            <li class="nav-item px-1">
                <a href="{{url_for('login')}}" class="nav-link ">login</a>
            </li>
            <li class="nav-item px-1">
                <a href="{{url_for('signup')}}" class="nav-link">signup</a>
            </li>
        </ul>
        </div>
        
    </nav>
    <div class="home"> 
        <div class="row row-cols-2 padding-0 w-100 m-auto">
            <div class="col-md-12 bg-white h-3 border-bottom ">
                <h1>here is the no-credit performance</h1>
                <p>this is {{stud.name}}'s record</p> 
            </div>
    <div class="col-md-6 divchart1 padding-0"><div class="divchart1" id="chartContainer4" style="height: 300px; width: 100%;"></div></div>
    <div class="col-md-6 divchart1 padding-0"><div class="divchart1" id="chartContainer3" style="height: 300px; width: 100%;"></div></div>
    <div class="col divchart1"><div class="divchart1" id="chartContainer2" style="height: 300px; width: 100%;"></div></div>
    <div class="col divchart1"><div class="divchart1" id="chartContainer" style="height: 300px; width: 100%;"></div></div>
  </div>


 
   
     


        
    </div>
    
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>




</body>


</html>